<%= form_with model: user, local: true do |form| %>
    <div>
        <%= form.label :name %>
        <%= form.text_field :name %>
    </div>
    <div>
        <%= form.label :description %>
        <%= form.text_area :description %>
    </div>
    <div>
        <%= form.label :image %>
        <%= form.file_field :image, accept: "image/png,image/gif,image/jpeg,image/jpg" %>
    </div>
    <div>
        <%= form.label :classification, "Student"   %>
        <%= form.radio_button :classification, "student" %>
        <%= form.label :classification, "Tutor" %>
        <%= form.radio_button :classification, "tutor" %>
    </div>
    <div>
        <h3>Education Level</h3>
        <%= form.label :education_level, "Primary" %>
        <%= form.radio_button :education_level, "primary" %>
        <%= form.label :education_level, "Highschool" %>
        <%= form.radio_button :education_level, "highschool" %>
        <%= form.label :education_level, "Tertiary" %>
        <%= form.radio_button :education_level, "tertiary" %>
        <%= form.label :education_level, "Special Needs" %>
        <%= form.radio_button :education_level, "special_needs" %>
    </div>
    <div>
        <h3>Subjects</h3>
        <%= form.collection_check_boxes :subject_ids, subjects, :id, :name %>
    </div>
    <%= form.submit %>
<% end %>