<main id="connect">
    <% if user_signed_in? %>
        <%= render "/nav_bar" %>
    <% else %>
        <%= link_to "Login", new_user_session_path %>
    <% end %>
    <h1>SSC</h1>
    <h2>Connecting You</h2>
    <form action="<%= users_path %>" method="GET">
        <input type="search" name="search" />
    </form>
    <div class="user">
        <% @users.each do |user| %>
                <div>
                <%= link_to(user_profile_path(user)) do %>
            
                    <figure>
                        <% if user.image.attached? %>
                            <%= image_tag user.image %>
                        <% elsif user.student? %>
                            <%= image_tag("student_default.png") %>
                        <% else  %>
                            <%= image_tag("tutor_default.jpg") %>
                        <% end %>
                    </figure>
                    <section>
                        <h3><%= user.name %></h3>
                        <% if user.student? %>
                            <h3>Student</h3>
                        <%else%>
                            <h3>Tutor<h3>
                        <% end %>   
                    <% end %>
                        <h3>Subjects:<% user.subjects.each do |i| %></h3>
                            <p><%= i[:name] %></p>    
                        <% end %>
                    </section>
                </div>      
        <% end %>
    </div>
</main>

